*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
/* fonts */

/* young-serif */
@font-face
{
    font-family: "young-serif";
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
/* outfit */
@font-face
{
    font-family: "outfit";
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
/* outfit-regular */
@font-face
{
    font-family: "outfit-regular";
    src: url(../assets/fonts/outfit/static/Outfit-Regular.ttf);
}
/* outfit-semibold */
@font-face
{
    font-family: "outfit-semibold";
    src: url(../assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}
/* outfit-bold */
@font-face
{
    font-family: "outfit-bold";
    src: url(../assets/fonts/outfit/static/Outfit-Bold.ttf);
}
/* fonts end */
body
{
    background-color: #f3e5d7;
    font-family: "outfit-regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5F564D;
}
.center
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex
{
    display: flex;
    justify-content: flex-start;
}
.recipe-conteiner
{
    width: 738px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 24px;
    background-color: #ffffff;
}
.img-conteiner
{
    width: 656px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
}
.img-conteiner img
{
    width: 100%;
}
h1
{
    color: #312E2C;
    font-size: 40px;
    font-weight: 400;
    margin-top: 70px;
    font-family: "young-serif";
}
p
{
    font-weight: 400;
    margin-top: 24px;
    color: #5F564D;
    font-family: "outfit-regular";
}
.preparation-content
{
    background-color: #FFF7FB;
    margin-top: 32px;
    padding: 28px;
    border-radius: 12px;
}
h3
{
    color: #7A284E;
    margin-bottom: 16px;
    font-weight: 600;
    font-family: "outfit-semibold";
}
li
{
    color: #5F564D;
    font-family: "outfit-regular";
}
.preparation-content ul li span, .li span
{
    color: #5F564D;
    font-weight: 700;
    size: 16px;
}
.preparation-content ul li
{
    color: #5F564D;
    font-weight: 400;
}
ul li
{
    padding-left: 20px;
}
ul li::marker 
{
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 4px;
    margin: 4px;
}
.preparation-content ul li::marker
{
    color: #7A284E;
}
.ingredients ul li::marker
{
    color: #854632;
}
h2
{
    color: #854632;
    margin-bottom: 24px;
    font-size: 28px;
    font-family: "young-serif";
    font-weight: 400;
}
.hr
{
    background-color: #E3DDD7;
    height: 1px;
    margin: 32px 0;
}
.flex .li
{
  color:#854632;
  font-weight: 700;
  margin-right: 16px;
}
.flex p
{
    margin-top: 8px;
}
.instructions, .ingredients
{
    line-height: 24px;
}
.instructions span
{
    font-weight: 700;
    font-family: "outfit-bold";
}
.nutrition-table h2
{
    margin-bottom: 20px;
}
.nutrition-table
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
.nutrition-table hr
{
  width: 100%;
    height: 1px;
    color: #d3d3d3;
    margin-top: 12px;
    margin-bottom: 12px;
}
.table
{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.row
{
    padding: 12px 0 12px 32px;
    font-family: "outfit-regular";
}
.line
{
    border-bottom: 1px solid #E3DDD7;
}
.nutrition-table .red
{
  color: #854632;
  font-weight: 800;
  width: 40%;
}
::-webkit-scrollbar
{
    display: none;
}
@media only screen and (max-width: 376px)
{
    body
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .core-text-conteiner
    {
        padding: 40px 32px;
        width: 100%;
    }
    h1
    {
        margin-top: 0;
        font-size: 36px;
        line-height: 36px;
    }
    .img-conteiner
    {
        width: 100%;
        height: auto;
    }
    .img-conteiner img
    {
        border-radius: 0;
        width: 100%;
    }
    .recipe-conteiner
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .preparation-content
    {
        margin: 0px;
    }
    h3
    {
        font-size: 20px;
        line-height: 20px;
    }
    h2
    {
        font-size: 28px;
        line-height: 28px;
    }
}
@media only screen and (min-width: 1440px)
{
    body
    {
        padding: 124px 0 64px 0;
    }
}